.about {
    background-image: url('../img/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include block_767 {
        padding-bottom: 74px;
    }

    &-text-wrapper {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 42px 33px;

        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;

            @include block_480 {
                font-size: 13px;
            }
        }
    }

    &-social {
        @include block_991 {
            text-align: center;
            margin-bottom: 32px;
        }
    }

    &-content-images {
        @include block_991 {
            text-align: center;
        }

        img {
            border-radius: 20px;
            margin-bottom: 20px;
        }
    }

    &-schema {
        position: relative;

        &-img {
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            @include block_991 {
                top: 79px;
            }
        }
    }
}