.first-layer {
    background-image: url('../img/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.second-layer {
    background-image: url(../img/offer-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}