.first-layer {
    background-image: url('../img/contacts-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.second-layer {
    background-image: url(../img/offer-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.third-layer {
    background-image: url(../img/layer-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fourth-layer {
    background-image: url(../img/contacts-layer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}