.header {
    position: relative;
    background-image: url(../img/header-layer_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 113px;
    background-position: center center;

    @include block_1199 {
        background-position: -90px center;
    }

    * {
        z-index: 1;
    }

    &--flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &-content {
        margin-top: 290px;
        color: $header-color;

        @include block_575 {
            margin-top: 40vh;
        }

        @include block_480 {
            margin-top: 35vh;
        }

        .primary-btn {
            padding: 13px 31px;
            font-weight: bold;
            font-size: 18px;
        }

        h2 {
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 50px;
            max-width: 521px;

            @include block_480 {
                font-size: 20px;
                margin-bottom: 14px;
            }
        }

        p {
            max-width: 569px;
            margin-bottom: 70px;
            font-weight: 500;
            font-size: 25px;

            @include block_480 {
                font-size: 18px;
            }
        }

        &-btns {}
    }
}