.installment {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    .col-lg-6 {
        &:last-child {
            @include block_991 {
                margin-bottom: 40px;
            }
        }
    }

    &-year {
        height: 100%;
        background-color: #3763FF;
        padding: 10px 28px 40px 38px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
        color: #FFFFFF;

        &-title {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            h3 {
                color: #fff;
            }

            p {
                font-weight: 800;
                font-size: 40px;

                @include block_480 {
                    font-size: 15px;
                }
            }

            span {
                font-weight: bold;
                font-size: 150px;
                line-height: 1;

                @include block_480 {
                    font-size: 100px;
                }
            }
        }

        &-desc {
            margin-top: 25px;

            p {
                font-weight: 600;
                font-size: 24px;

                @include block_480 {
                    font-size: 15px;
                }
            }
        }

    }

    &-form {
        text-align: center;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
        height: 100%;
        padding: 26px 23px 23px;

        h4 {
            font-weight: 800;
            font-size: 20px;
            text-transform: uppercase;
            color: #1C2A5C;
            margin-bottom: 30px;
        }

        fieldset {
            display: flex;
            flex-direction: column;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }

        label {
            margin-bottom: 9px;
            font-weight: bold;
            font-size: 20px;
            color: #1C2A5C;

            @include block_480 {
                font-size: 15px;
            }
        }

        input {
            margin-bottom: 18px;
            border: 2px solid #1C2A5C;
            border-radius: 10px;
            padding: 9px;

            &::placeholder {
                font-style: italic;
                font-size: 15px;
                color: #C4C4C4;
                text-align: center;

                @include block_480 {
                    font-size: 10px;
                }
            }
        }

        .secondary-btn {
            margin: 21px auto 0;

            @include block_480 {
                font-size: 10px;
            }
        }
    }

    &-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            color: #1C2A5C;

            @include block_480 {
                font-size: 18px;
            }
        }

        .primary-btn.call-btn {
            &::after {
                background-size: 11px;
            }
        }
    }
}