.installment {
    background-image: url('../img/installment-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    @include block_575 {
        padding-bottom: 70px;
    }

    &-year {
        background-color: #3763FF;
        padding: 32px 55px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);

        @include block_991 {
            top: 30px;
        }

        @include block_575 {
            width: 97%;
        }

        p {
            text-align: right;
            font-weight: 800;
            font-size: 40px;
            color: #FFFFFF;

            span {
                line-height: 1;
                font-weight: bold;
                font-size: 300px;

                @include block_991 {
                    font-size: 120px;
                }
            }
        }
    }

    &-form {
        text-align: center;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
        height: 100%;
        padding: 26px 23px 23px;

        h4 {
            font-weight: 800;
            font-size: 20px;
            text-transform: uppercase;
            color: #1C2A5C;
            margin-bottom: 30px;
        }

        fieldset {
            display: flex;
            flex-direction: column;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }

        label {
            margin-bottom: 9px;
            font-weight: bold;
            font-size: 20px;
            color: #1C2A5C;
        }

        input {
            margin-bottom: 18px;
            border: 2px solid #1C2A5C;
            border-radius: 10px;
            padding: 9px;

            &::placeholder {
                font-style: italic;
                font-size: 15px;
                color: #C4C4C4;
                text-align: center;
            }
        }
    }

    &-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            color: #1C2A5C;

            @include block_480 {
                font-size: 18px;
            }
        }

        .primary-btn.call-btn {
            &::after {
                background-size: 11px;
            }
        }
    }
}