.objects {
    padding-top: 50px;
    padding-bottom: 50px;

    &-text {
        padding: 24px 26px 25px;
        color: #fff;
        background-color: #3763FF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);

        h4 {
            margin-bottom: 16px;
            font-weight: 600;
            font-size: 30px;
            line-height: 33px;

            @include block_480 {
                font-size: 18px;
                line-height: 21px;
            }
        }

        p {
            font-size: 22px;
            line-height: 23px;

            @include block_480 {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
}