/* Colors */
$header-number: #FFFFFF;
$primary-btn-color: #FFFFFF;
$primary-btn-bg:#1C2A5C;
$primary-btn-shadow:rgba(0, 0, 0, 0.1);
$primary-btn-icon:#3763FF;
$header-color:#1C2A5C;
$play-btn-color: #FFFFFF;
$play-btn-bg:#3763FF;
$nav-links-color:#FFFFFF;
$dropdown-link-color:#1C2A5C;
$dropdown-bg:#FFFFFF;
$number-form-subtitle: #555555;
$number-form-label: #1C2A5C;
$form-thanks-color: #3E3D3D;
$section-title-color: #1C2A5C;
$offer-cards-h4: #3E3D3D;
$offer-cards-bg: #3763FF;